<!DOCTYPE html>
<html>
<head>
  <title>Arc Drive</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Welcome to Arc Drive</h1>
  <ul>
      <li>
        <a href="/login %>">LOGIN</a>
      </li>
  </ul>
</body>
</html>
